zmodule ssh
zmodule environment
zmodule input
zmodule run-help
zmodule magic-enter
zmodule termtitle
zmodule utility
zmodule fzf
zmodule archive
zmodule zsh-users/zsh-completions --fpath src
zmodule ziglang/shell-completions --fpath .
zmodule completion
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-history-substring-search
zmodule joke/zim-starship
zmodule joke/zim-github-cli
zmodule jeffreytse/zsh-vi-mode
zmodule niveksoft/tmux-sessionizer
